@using NetPing.Models
@model IEnumerable<SFile>


<div class="seporator"></div>

<ul class="files">
    @{
        foreach (SFile file in Model)
        {
            <li><a href="@file.Url/" class="doc"><b>@file.Title.Replace(".docx", "").Replace(".doc", "")</b></a> </li>
        }
    }
</ul>
<div class="seporator"></div>